@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://us.123rf.com/450wm/yamabikay/yamabikay1705/yamabikay170500039/77519356-green-felt-texture-for-poker-an-casino-theme-seamless-square-background-tile-ready-high-resolution-p.jpg?ver=6);
}

footer {
    width: 100%;
}

main {
    flex: 1;
}

#cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#icone {
    width: 100px;
    padding: 10px;
    padding-left: 20px;
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: auto;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    background: linear-gradient(to right, #283c86, #45a247);
    border-bottom: 4px solid goldenrod;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 150%;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
    font-family: 'Architects Daughter', cursive;
    font-size: 1em;
}

.main-nav a:link {
    color: #ffffff;
    text-shadow: 5px 4px 3px rgba(191, 188, 196, 1);
}

.main-nav a:visited {
    color: rgb(196, 196, 196);
    text-shadow: 5px 4px 3px rgba(191, 188, 196, 1);
}

.main-nav a:hover {
    color: rgb(229, 255, 0);
    transform: scale(1.1);
    transition: 0.5s;
}

.main-nav a:active {
    color: red;
    transform: scale(0.9);
}

@media (min-width: 960px) {
    .main-header .container {
        justify-content: space-between;
    }
}

#VoltarTopo {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 45px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    border-radius: 65px;
    padding: 6px;
    transition: .5s;
}

#VoltarTopo:hover {
    transform: scale(1.1);
    transition: .5s;
}

#BlocoDireitos {
    display: flex;
    background-color: #747474;
    height: 50px;
    width: 100%;
}

#DireitosReservados {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    width: 100%;
    font-family: 'Nova Mono', monospace;
}

@media (max-width: 1000px) {
    header ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    body {
        font-size: 100%;
    }
}

main {
    margin: 2.8% 15% 2.8% 15%;
}

.easter-egg {
    background-color: rgb(23, 121, 207);
    width: min-content;
    position: fixed;
    opacity: 0;
    padding: 1.5rem;
    border-radius: 10%;
    box-sizing: border-box;
    text-align: center;
    border: double rgb(0, 0, 0) 5px;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .5s;
}

.easter-egg p {
    padding: 0.1rem;
}

.easter-egg:hover {
    opacity: 1;
    transition: .5s;
}

#eg1 {
    position: absolute;
    top: 150px;
    left: 35px;
}

#eg2 {
    position: absolute;
    top: 200px;
    right: 35px;
}

#eg3 {
    position: absolute;
    top: 550px;
    right: 55px;
}

#eg4 {
    position: absolute;
    top: 1500px;
    right: 65px;
}

#eg5 {
    position: absolute;
    top: 1900px;
    left: 35px;
}

#eg6 {
    position: absolute;
    top: 2600px;
    left: 55px;
}

#eg7 {
    position: absolute;
    top: 3000px;
    right: 55px;
}

#eg8 {
    position: absolute;
    top: 3600px;
    left: 55px;
}

#eg9 {
    position: absolute;
    top: 4200px;
    right: 25px;
}

#eg10 {
    position: absolute;
    top: 4800px;
    right: 35px;
}

#eg11 {
    position: absolute;
    top: 5300px;
    left: 35px;
}

#eg12 {
    position: absolute;
    top: 5500px;
    right: 35px;
}

.caixa h1,
.caixa2 h1 {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline rgb(0, 0, 0)2px;
}

.caixa p,
.caixa dl,
.caixa2 p {
    font-size: 1.25em;
    text-align: justify;
    padding-top: 15px;
    line-height: 1.35em;
    padding-bottom: 10px;
}

.caixa dl {
    padding: 0;
}

.caixa {
    background-color: whitesmoke;
    opacity: 0.7;
    padding: 2% 3%;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 25px;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    transition: .4s;
}

.caixa2 {
    margin-top: 4%;
    background-color: rgb(180, 49, 174);
    opacity: 0.7;
    padding: 2% 3%;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 25px;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    transition: .4s;
}

.fotos {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.caixa:hover,
.caixa2:hover {
    opacity: 1;
    transform: scale(1.03);
}

.video {
    margin-top: 3%;
    margin-bottom: 3%;
}

.Completo {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

form {
    position: fixed;
    bottom: 0px;
    right: 0;
    transition: .5s;
}

form:hover {
    transform: scale(1.1);
    transition: .5s;
}

#qrcode {
    margin-top: 3%;
    margin-bottom: 3%;
}


/* começo das cartas */

.cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

.box {
    position: relative;
    width: 208px;
    height: 296px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #010615;
    transition: 0.5s;
}

.box:hover {
    height: 396px;
}

.box .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgbox img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.box:hover .imgbox img {
    opacity: 1;
}

.box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: whitesmoke;
    z-index: -1;
}

.box::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: whitesmoke;
    z-index: -2;
    filter: blur(40px);
}

.box::before,
.box::after {
    background: linear-gradient(235deg, #ff0000, #010615, rgb(209, 209, 209));
}

.box:nth-child(2)::before,
.box:nth-child(2)::after {
    background: linear-gradient(235deg, #1900ff, #010615, rgb(209, 209, 209));
}

.box:nth-child(3)::before,
.box:nth-child(3)::after {
    background: linear-gradient(235deg, #ff0000, #010615, rgb(209, 209, 209));
}

.box:nth-child(4)::before,
.box:nth-child(4)::after {
    background: linear-gradient(235deg, #1900ff, #010615, rgb(209, 209, 209));
}

.box .content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 1px;
}

.box .content h2 span {
    font-size: 13px;
    color: rgb(209, 202, 202);
    font-weight: 200;
    letter-spacing: 2px;
}


/* final das cartas */


/* Comando retirado da internet para redefinir propriedades de elementos */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}